
{% extends 'accounts/layout.html' %}

{% block title %} Top {% endblock %}

<!-- {% block ar %}
<script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
<script src="https://cdn.rawgit.com/jeromeetienne/AR.js/1.5.0/aframe/build/aframe-ar.js"></script>
{% endblock %} -->


{% block header %}

<!-- <div class="ui inverted large borderless fixed fluid menu column">
  <a class="header item" href="https://the-bingo.jp/">THE AR</a>
  <div class="right menu">
    <div class="ui dropdown item">
      <div class="header">
        <h4>MENU　</h4>
      </div>
      <i class="share square icon"></i>
      <div class="menu">
        <div class="item" v-on:click="doTopShare('bingo')">
          <small>
            <i class="th icon"></i>
            ビンゴ大会を開催する
          </small>
        </div>
        <div class="item" v-on:click="doTopShare('service')">
          <small>
            <i class="clipboard outline icon"></i>
            利用規約
          </small>
        </div>
        <div class="item" v-on:click="doTopShare('rules')">
          <small>
            <i class="clipboard outline icon"></i>
            セキュリティポリシー
          </small>
        </div>
      </div>
    </div>

  </div>
</div> -->
{% endblock %}

{% block content %}
<!-- A-Frame ライブラリの読み込み -->
<!-- <script src="https://aframe.io/releases/0.6.1/aframe.min.js"></script> -->
<!-- AR.js ライブラリの読み込み -->
<!-- <script src="https://jeromeetienne.github.io/AR.js/aframe/build/aframe-ar.js"></script> -->

<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui inverted large borderless fixed fluid menu column">
        <!-- <a class="toc item">
          <i class="sidebar icon"></i>
        </a> -->
        <a class="header item" href="https://the-bingo.jp/">THE AR</a>
        <!-- <a class="active item">Home</a> -->

        <div class="right item">
          <a class="ui inverted icon button">
            <!-- login -->
            <i class="arrow alternate circle right outline icon"></i>
          </a>
          <a class="ui inverted button">
            sign-up
              <!-- <i class="arrow alternate circle up outline icon"></i> -->
          </a>
          <!-- <i class="caret square right outline icon"></i> -->
          <!-- <i class="caret square up outline icon"></i> -->
        </div>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Imagine-a-Company
      </h1>
      <h2>Do whatever you want when you want to.</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>

  </div>
</div>

<div class="ui main container">

  <!-- <h1 class="mt-5">Top</h1> -->
  <!-- <a class="btn btn-link" href="{% url 'login' %}">logout</a> -->
  <button class="ui  huge teal button" name="button" onclick="location.href = ' {% url 'login' %}' ">
    sign out
  </button>
</div>
{% endblock %}
