{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for item in messages %}
  <li{% if item.tags %} class="{{item.tags}}" {% endif %}>{{item}}</li>
  {% endfor %}
</ul>
{% endif %}
<table>
  <form class="ui form" action="{% url 'index' %}" method="post">
    {% csrf_token %}
    {{form.as_table}}
    <tr>
      <td></td>
      <td><input type="submit" name="" value="send"></td>
    </tr>
  </form>
</table>

<div class="ui segments">
  <div class="ui blue segment">
    {% for item in contents %}
    <h2 class="ui header">
      {{item.owner}}
    </h2>
    <div class="contents">
      <!-- {% if item.share_id > 0 %}
        <p class="share_item_content">{{item.get_share}}</p>
      {% endif %} -->
      {{item.content}}
      <!-- <div class="ui primary label">
      </div> -->
    </div>
    <h3 class="icons">
      <a href="{% url 'share' item.id %}">
        <i class="retweet icon">{{item.share_count}}</i>
      </a>
      <a href="{% url 'good' item.id %}">
        <i class="heart outline icon">{{item.good_count}}</i>
      </a>
    </h3>
      <div class="sub header">
        {{item.pub_date}}
      </div>
    {% endfor %}
  </div>
</div>


{% endblock %}
