{% extends 'sns/layout.html' %}

{% block title %}Index{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="ui grid">
  <div class="six wide column">
    <div class="ui card">
      <div class="image">
        <img src="../../static/image/sample.jpg">
      </div>
      <div class="content">
        <a class="header">{{login_user}}</a>
        <div class="meta">
          <span class="date">コメント　コメント　コメント　コメント　コメント　</span>
        </div>
        <div class="description">
          Kristy is an art director living in New York.
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          <!-- 22 Friends -->
        </a>
      </div>
    </div>
  </div>

  <div class="ten wide column">
    {% if messages %}
    <ul class="messages">
      {% for item in messages %}
      <li{% if item.tags %} class="{{item.tags}}" {% endif %}>{{item}}</li>
      {% endfor %}
    </ul>
    {% endif %}
    <div class="ui segment">
      <form class="ui form" action="{% url 'index' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.content}}
        {{form.image}}
        <button class="ui huge blue button" type="submit" name="button">ツイート</button>
      </form>
    </div>

    <div class="ui segments">
      {% for item in contents %}
      <div class="ui segment">
        <h2 class="ui header">
          {{item.owner}}
        </h2>
        <div class="contents">
          <img src="{{item.image.url}}" alt="" width="100", height="100"/>
          <!-- {{item.image}} -->
          {{item.content}}
          {% if item.share_id > 0 %}
            <p class="share_item_content">
              <div class="ui segment">
                <i class="retweet icon">
                </i>
                {{item.get_share}}
              </div>
            </p>
          {% endif %}
        </div>
        <h3 class="icons">
          <a href="{% url 'share' item.id %}">
            <i class="retweet icon">{{item.share_count}}</i>
          </a>
          <a href="{% url 'good' item.id %}">
            <i class="heart outline icon">{{item.good_count}}</i>
          </a>
        </h3>
          <div class="sub header">
            {{item.pub_date}}
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
