{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'sns/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="body_content">
      <div class="body_content_inner">
        <table class="login_table" width="100%">
          <tr><th width="150px">menu</th><td>

          </td></tr>
          <!-- <tr>
            <th width="150px">login user:</th>
            <td>"{{login_user}}"</td>
          </tr> -->
        </table>
        <div class="header">{% block header %}
          {% endblock %}
        </div>
        <div class="content">{% block content %}
          {%  endblock%}
        </div>
        <div class="footer">

        </div>
      </div>
    </div>

  </body>
</html>
