{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'sns/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <div class="ui main container">

      <div class="header">
        <div class="ui secondary borderless fixed pointing menu ">
          <a class="active item" href="{% url 'index' %}">
            <i class="home large icon"></i>
            Home
          </a>
          <a class="item" href="#">
            <i class="envelope outline large icon"></i>
            Message
          </a>
          <a class="item" href="#">
            <i class="user outline large icon"></i>
            Friends
          </a>
          <div class="right menu">
            <a href="{% url 'login' %}" class="ui item">
              <i class="sign out alternate large icon"></i>
              sign out
            </a>
          </div>
        </div>
        {% block header %}
        {% endblock %}
      </div>
      <div class="content">
        {% block content %}
        {%  endblock%}
      </div>
      <div class="footer">
      </div>
    </div>
  </body>
</html>
