body{
    background-color: #E6ECF0;
}
.ui.secondary.pointing.menu{
  background-color: white;
}
.right.item.ui.button{
  margin-right: 5px;
}
.content{
  margin-top: 70px;
}

.ui.segment:hover{
  background: #F5F8FA;
}
